.el-form--inline {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
.el-form--inline .i-form-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 16px;
}
.i-form-item__control {
  flex: 1;
}
.el-form--inline .i-form-item__control {
  display: flex;
  align-items: center;
  justify-items: center;
}
.el-form--horizontal .i-form-item {
  display: flex;
}
.el-form--vertical .i-form-item__label {
  text-align: left;
}
.el-form--inline .i-form-item__label {
  text-align: left;
  width: auto;
  min-width: auto;
}

.i-form-item {
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: "tnum";
  margin: 0;
  vertical-align: top;
  margin-bottom: 6px;
  &__label {
    display: inline-block;
    overflow: hidden;
    line-height: 39.9999px;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
    min-width: 80px;
  }
  &__control {
    &:before {
      display: table;
      content: "";
    }
    &:after {
      clear: both;
    }
  }
  &__error {
    margin: 0;
    color: #f5222d;
    min-height: 22px;
    margin-top: -2px;
    font-size: 14px;
    line-height: 1.5;
    transition: color .3s cubic-bezier(.215,.61,.355,1);
  }
}
.i-form:not(.el-form--inline) {
  margin-bottom: 24px;
}
.i-form:not(.el-form--inline) .i-form-item.with-help {
  margin-bottom: 4px;
}
.i-form-item.is-required:not(.is-no-mark) .i-form-item__label {
  &:before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
  }
}

.i-input-wrap {
  line-height: 40px;
}
.i-input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
}
.i-textarea {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5;
  vertical-align: bottom;
  transition: all .3s,height 0s;
}
